.header
  width: 100%
  box-sizing: border-box
  background-color: #f5f7fa
  box-shadow: 0 1px 1px #e9ecef
  padding: 10px 0

.logoContainer
  display: inline-flex
  align-items: center
  flex-wrap: wrap

.logo
  width: 80px
  height: 80px

.logoContent
  display: flex
  flex-wrap: wrap
  width: calc(100% - 100px)
  box-sizing: border-box
  padding-left: 20px

.logoTitle,
.logoSubtitle
  width: 100%

.logoTitle
  font-size: 3rem
  margin-bottom: 3px

.logoSubtitle
  font-size: 2rem
  font-weight: 300
