
@import '../../assets/styles/resolutions'

.search
  width: 100%

.filters
  margin-bottom: 25px

.totalItems,
.noResults
  width: 100%
  display: flex
  font-size: 1.6rem
  margin-bottom: 25px

.totalItems
  justify-content: flex-end

.searchInput
  @include device(small-tablet)
    margin-bottom: 10px

.btn
  width: 100%
  @include device(small-tablet)
    margin-top: 12px
